/.idea/.gitignore
/.idea/AndScanner.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml

venv/
/romanalyzer_extractor/log/analyze.log
/romanalyzer_extractor/log/aws_down.log
/romanalyzer_extractor/log/aws_up.log
/romanalyzer_extractor/log/debug.log
/romanalyzer_extractor/log/download.log
/romanalyzer_extractor/log/extract.log
/romanalyzer_extractor/log/extractor.log
/romanalyzer_extractor/log/mongo.log
/romanalyzer_extractor/log/neo4j.log
/romanalyzer_extractor/log/static.log

__pycache__/
*.pyc
*.pyo

.idea/

*.o
*.so

# Files from tests
/test.py
/image_queue.json
/app_analyzer/log/analysis.log

# build files
romanalyzer_extractor/tools/extfstools/build
romanalyzer_extractor/tools/brotli/bin
